<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Add Form</title>
</head>
<body>
    <form method="post" action="/posts">
        <input name="username" type="text" placeholder="enter username"> <br> <br>

      <textarea name="content"  cols="15" rows="5"></textarea><br> <br>
        <button>Submit</button>
    </form>
</body>
</html>