<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <style>
        h1 {
            color: maroon;
        }

        h3,h4 {
            background-color: blanchedalmond;
        }
    </style>
</head>

<body>
    <h1>Here is your Details</h1>
    <h3>Id is : <%= post.id %>
    </h3>
    <h4>Username is : @<%= post.username %>
    </h4>
    <h4>Content is : <%= post.content %>
    </h4>
</body>

</html>